[submodule ".emacs.d/packages/emacs-helm-gtags"]
	path = .emacs.d/packages/emacs-helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule ".emacs.d/packages/expand-region"]
	path = .emacs.d/packages/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/packages/helm"]
	path = .emacs.d/packages/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/packages/popup-el"]
	path = .emacs.d/packages/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/packages/auto-complete"]
	path = .emacs.d/packages/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/packages/multiple-cursors"]
	path = .emacs.d/packages/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/packages/popwin-el"]
	path = .emacs.d/packages/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule ".emacs.d/packages/flex-autopair"]
	path = .emacs.d/packages/flex-autopair
	url = https://github.com/uk-ar/flex-autopair.git
